<!-- File name: app.css 
Student’s Name: Hemal Vaghela
StudentID: 301289095 
Date: June 4, 2023 -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1>Welcome to the <%= title %> page.</h1>
    <br> 
    <% if(title == "Home"){ %>
      <div>
      <h1>Hi There</h1>
      <p>
        My name is Hemal, this website is work in progress. Please ignore any error at this stage.
        <br>
        To connect with me <a  href="/contact">click here</a>
        <br>
        To know more about me visit <a  href="/contact">about me </a> section.
      </p>
      <h1>Mission Statement</h1>
      <p>
        To build a network of like-minded individuals with a passion for learning. Pursuing an education will help me open doors as well as open my mind to new possibilities. To discover my passion and where my skills are best suited. To become the person I was meant to be.
      </p>
      </div>
    <% } else if(title == "About"){ %>
        <div>
          <h2>Name: Hemal Vaghela</h2>
          <h2>Stundet #: 301289095</h2>
          <h2>Course: COMP229 Section: 402</h2>
          <h2><a href="/Assets/cv.pdf">Download my CV</a></h2>
          <br><br>
          <img src="/Assets/images/user.png" alt="user" width="250" >
          <br>
          <i>I will replace this image later..</i>

        </div>        
    <% } else if(title == "Products"){ %>
          <div>I am in Products</div>
    <% } else if(title == "Services"){ %>
            <div>I am in Services</div>
    <% } else if(title == "Contact"){ %>
              <div>I am in Contact</div>
    <% }  %>
        
    </li>
    



  </div>
</main>

<%- include partials/footer.ejs %>
<%- include partials/bottom_nav.ejs %>
 
