<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add Page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Full Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter Full Name"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="phoneTextField">Phone</label>
                    <input type="text" class="form-control"
                    id="phoneTextField"
                    placeholder="Enter Phone"
                    name="phone" required>
                </div>

                <div class="form-group">
                    <label for="emailTextField">email</label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter Email"
                    name="email" required>
                </div>

                <div class="form-group">
                    <label for="companyTextField">Company</label>
                    <input type="company" class="form-control"
                    id="companyTextField"
                    placeholder="Enter Company Name"
                    name="company" required>
                </div>
                
                <div class="form-group">
                    <label for="urlTextField">Url</label>
                    <input type="text" class="form-control"
                    id="urlTextField"
                    placeholder="Enter URL"
                    name="url" required>
                </div>

                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            </form>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>